main.tf
.terraform
terraform-provider-restapi
terraform-provider-restapi.exe
terraform.tfstate
terraform.tfstate.backup
crash.log
examples/terraform*
**/github_api_token
fakeservercli/fakeservercli
scripts/terraform-provider-restapi*
scripts/fakeserver*
tmp
tmpgpg
dist
.idea
.terraform.lock.hcl
dev.tfrc
terraform-provider-restapi_*